@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-image: url('images/bg-mobile.png');
  background-color: var(--Very-Dark-Blue);
}

img {
  max-width: 100%;
  display: block;
}

span {
  color: var(--Pale-Blue);
}
h4 {
  color: var(--Grayish-Blue);
}
h1 {
  font-size: 4rem;
}

main {
  width: min(40rem, 90%);
}

header,
section {
  background-color: var(--Dark-Blue);
  padding: 4rem;
}
header {
  border-radius: 1rem 9rem 1rem 1rem;
}
section {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 18rem;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.folders {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.folder {
  background-color: var(--Very-Dark-Blue);
  width: 4.5rem;
  height: 4.5rem;
  /* padding: 1rem; */
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress {
  background-color: var(--Very-Dark-Blue);
  width: 100%;
  height: 2.3rem;
  border-radius: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem 0 1rem 0;
}
.progress-bar {
  height: 1.7rem;
  width: 75%;
  background: linear-gradient(to left, hsl(335, 100%, 65%), hsl(6, 100%, 80%));
  border-radius: 1.8rem;
  margin-left: 0.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.progress-done {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--Pale-Blue);
  border-radius: 50%;
  margin-right: 0.25rem;
}

.gib-total {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.gib-left {
  padding: 1rem 2rem;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  max-width: 75%;
  position: relative;
  top: 1rem;
}
.gib-left span {
  color: var(--Grayish-Blue);
  font-size: 1.3rem;
  text-transform: uppercase;
}

@media (min-width: 900px) {
  body {
    background-image: url('images/bg-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 50% top 50vh;
  }
  main {
    width: min(80rem, 90%);
  }
  .container {
    display: grid;
    grid-template-columns: 30rem 48rem;
    grid-column-gap: 3rem;
  }
  header,
  section {
    background-color: var(--Dark-Blue);
    padding: 3rem;
  }
  section {
    align-items: flex-start;
    align-self: flex-end;
    position: relative;
  }
  .gib-left {
    max-width: 65%;
    position: absolute;
    top: -40%;
    right: 6%;
    border-radius: 1rem 1rem 0px 1rem;
  }
  .gib-left::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -20%;
    right: 0;
    /* /// triangle and rectangle /// */
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #fff;
    border-right-color: #fff;
  }
}
